html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-attachment: fixed;
    min-width: 1000px;
    width: auto !important;
}

#main-gradient {
    background: linear-gradient(to left top, #CEDFF412, #90A3B4de);
}

#image-gradient-right {
    background: linear-gradient(to right, white, white, #00000000, #00000000);
}

#image-gradient-left {
    background: linear-gradient(to left, white, white, #00000000, #00000000);
}

.centered-index-subtitle-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.index-subtitle-div-columns {
    display: flex;
    gap: 20px; 
}

.index-subtitle-div-column {
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mali-regular {
    font-family: "Mali";
    font-weight: 400;
    font-style: normal;
}

.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.mplus-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 

.fill {
    background-size: cover;
    background-position: center;
    object-fit: contain;
    height: 20%;
    width: 100%;
    height: 20%;
    object-fit: contain;
    position: absolute;
    left: 0px;
}

.slideshow-image-text {
    font-size: 45px;
    padding: 8px 12px;
    position: absolute;  
    width: 100%; 
    height: 100%;
    text-align: center; 
}

.vertical-line-left {
    border-left: 2px solid black;
    height: 55%;
    position: absolute; 
    top:  5%;    
    left: 40px;
}

.vertical-line-right {
    border-left: 2px solid black;
    height: 55%;
    position: absolute;
    top: 5%;
    right: 40px;
}

p {
    padding-bottom: 3cm;
}

.slideshow-container {  
}
 
.slides {
    display: none;
}

.slides2 {
    display: none;
}

.fadeshow {
    animation-name: fadeshow;
    animation-duration: 2s;
}

@keyframes fadeshow {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

.crop {
    width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    height: 25%;
    min-height: 10px;
    overflow: clip; 
}
    .crop img {
        width: 100%;  
        margin-top: -300px;
        overflow: clip;
    }