@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <object id="logo" data="logo.svg" width="300" height="300" type="image/svg+xml"></object>
    <div class="centered-index-subtitle-div">
        <div class="index-subtitle-div-columns">
            <div class="index-subtitle-div-column">Find</div>
            <span class="index-subtitle-div-column">&#8226;</span>
            <div class="index-subtitle-div-column">Reserve</div>
            <span class="index-subtitle-div-column">&#8226;</span>
            <div class="index-subtitle-div-column">Play</div>
        </div>
    </div>
    <h1 class="display-4" style="margin-top: 50px; font-size: 120px">@nameof(Assets.AthletLink)</h1> 
</div>
