@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <object id="logo" data="Assets/Logo/logo.svg" image-rendering="optimizeQuality" width="300" height="300" type="image/svg+xml"></object>
    <div class="centered-index-subtitle-div">
        <div class="index-subtitle-div-columns">
            <div class="mplus-regular index-subtitle-div-column">Find</div>
            <span class="index-subtitle-div-column">&#8226;</span>
            <div class="mplus-regular index-subtitle-div-column">Book</div>
            <span class="index-subtitle-div-column">&#8226;</span>
            <div class="mplus-regular index-subtitle-div-column">Play</div>
        </div>
    </div>
    <h1 class="mplus-regular display-4" style="margin-top: 50px; font-size: 120px">@nameof(Assets.AthletLink)</h1>

</div>

<p />

<div class="slideshow-container">

    <div class="slides fadeshow crop fill">
        <div class="slideshow-image-text" id="image-gradient-right" style="text-align: left;">
            <div class="vertical-line-left"></div>
            <div class="mplus-regular" style="margin-left: 120px; max-width: 20%;">
                <div style="font-size: 82px;">FIND</div>
                <p style="padding-bottom: 1cm;" />
                <div style="font-size: 32px;">
                    <div>Find best team</div>
                    <div>for you level</div>
                    <div>and just play</div>
                </div>
                <p style="padding-bottom: 2cm;" />
                <div style="font-size: 22px;">
                    <div>Our goal is to provide the right application for active people.</div>
                    <div>Which can be used as a useful tool for finding teams</div>
                    <div>or any common sports movement</div>
                </div>
            </div>
        </div>
        <img src="~/Assets/Images/141.jpg">
    </div>

    <div class="slides fadeshow crop fill">
        <div class="slideshow-image-text" id="image-gradient-left" style="text-align: right;">
            <div class="vertical-line-right"></div>
            <div class="mplus-regular" style="margin-right: 120px; float: right; max-width: 20%;">
                <div style="font-size: 82px;">BOOK</div>
                <p style="padding-bottom: 1cm;" />
                <div style="font-size: 32px;">
                    <div>Reserve your availability</div>
                    <div>come</div>
                    <div>and just play</div>
                </div>
                <p style="padding-bottom: 2cm;" />
                <div style="font-size: 22px;">
                    <div>One of the biggest problem in big city is to find team to play with.</div>
                    <div>Our app links players and teams which can help in finding each other.</div>
                    <div>A few click are just enough to enjoy the play.</div>
                </div>
            </div>
        </div>
        <img src="~/Assets/Images/41.jpg"> 
    </div>

    <div class="slides fadeshow crop fill">
        <div class="slideshow-image-text" id="image-gradient-right" style="text-align: left;">
            <div class="vertical-line-left"></div>
            <div class="mplus-regular" style="margin-left: 120px; max-width: 20%;">
                <div style="font-size: 82px;">PLAY</div>
                <p style="padding-bottom: 1cm;" />
                <div style="font-size: 32px;">
                    <div>Enjoy playing</div>
                    <div>in your team</div>
                    <div>along with friends</div>
                </div>
                <p style="padding-bottom: 2cm;" />
                <div style="font-size: 22px;">
                    <div>Our goal is to provide the right application for active people.</div>
                    <div>Which can be used as a useful tool for finding teams</div>
                    <div>or any common sports movement</div>
                </div>
            </div>
        </div>
        <img src="~/Assets/Images/121.jpg">
    </div>

</div>

<p style="padding-bottom: 80cm" />

<div class="slideshow-container">

    <div class="slides2 fadeshow crop fill">
        <div class="slideshow-image-text" id="image-gradient-right" style="text-align: left;">
            <div class="vertical-line-left"></div>
            <div class="mplus-regular" style="margin-left: 120px; max-width: 20%;">
                <div style="font-size: 82px;">FIND</div>
                <p style="padding-bottom: 1cm;" />
                <div style="font-size: 32px;">
                    <div>Find best team</div>
                    <div>for you level</div>
                    <div>and just play</div>
                </div>
                <p style="padding-bottom: 2cm;" />
                <div style="font-size: 22px;">
                    <div>Our goal is to provide the right application for active people.</div>
                    <div>Which can be used as a useful tool for finding teams</div>
                    <div>or any common sports movement</div>
                </div>
            </div>
        </div>
        <img src="~/Assets/Images/261.jpg">
    </div>

    <div class="slides2 fadeshow crop fill">
        <div class="slideshow-image-text" id="image-gradient-left" style="text-align: right;">
            <div class="vertical-line-right"></div>
            <div class="mplus-regular" style="margin-right: 120px; float: right; max-width: 20%;">
                <div style="font-size: 82px;">BOOK</div>
                <p style="padding-bottom: 1cm;" />
                <div style="font-size: 32px;">
                    <div>Reserve your availability</div>
                    <div>come</div>
                    <div>and just play</div>
                </div>
                <p style="padding-bottom: 2cm;" />
                <div style="font-size: 22px;">
                    <div>One of the biggest problem in big city is to find team to play with.</div>
                    <div>Our app links players and teams which can help in finding each other.</div>
                    <div>A few click are just enough to enjoy the play.</div>
                </div>
            </div>
        </div>
        <img src="~/Assets/Images/171.jpg">
    </div>

    <div class="slides2 fadeshow crop fill">
        <div class="slideshow-image-text" id="image-gradient-right" style="text-align: left;">
            <div class="vertical-line-left"></div>
            <div class="mplus-regular" style="margin-left: 120px; max-width: 20%;">
                <div style="font-size: 82px;">PLAY</div>
                <p style="padding-bottom: 1cm;" />
                <div style="font-size: 32px;">
                    <div>Enjoy playing</div>
                    <div>in your team</div>
                    <div>along with friends</div>
                </div>
                <p style="padding-bottom: 2cm;" />
                <div style="font-size: 22px;">
                    <div>Our goal is to provide the right application for active people.</div>
                    <div>Which can be used as a useful tool for finding teams</div>
                    <div>or any common sports movement</div>
                </div>
            </div>
        </div>
        <img src="~/Assets/Images/311.jpg">
    </div> 
</div>

<script>
    let slideIndex = 0; 
    let slidesInfo = ["slides", "slides2"];
    let slidesCount = slidesInfo.length;
    showSlides();
    function showSlides() {
        let i;
        for (i = 0; i < slidesCount; i++) {
            let ii;
            let slides = document.getElementsByClassName(slidesInfo[i]);
            for (ii = 0; ii < slides.length; ii++) {
                slides[ii].style.display = "none";
            }
            if (slideIndex >= slides.length) { slideIndex = 1 }
            slides[slideIndex].style.display = "block";
        }
        slideIndex++;
        setTimeout(showSlides, 5000);
    }
</script>